<div id="<%= dom_id product_order %>">
  <p>
    <strong>User:</strong>
    <%= product_order.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_order.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product_order.quantity %>
  </p>

  <p>
    <strong>Pallet:</strong>
    <%= product_order.pallet %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product_order.description %>
  </p>

</div>
